.estadistica--articulos
	height: 70px
	padding: 20px
	border-top: 2px solid alpha(color-primario, .30)
	ul
		display: flex
		margin: 0
		padding: 0
		justify-content: space-evenly
    
		li	
			list-style: none
			color: alpha(color-primario, .30)
		span 
			margin-left: 10px