extend componentes/plantilla.pug
block contenidos
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 #{titulos[0]}
				p 
					| Lorem ipsum dolor sit amet 
					| consectetur adipisicing elit. 
					| Perferendis, vero pariatur doloribus 
					| quis explicabo id ratione 
					| reprehenderit sapiente odio, 
					| aperiam blanditiis dolores quidem 
					| eius fuga quaerat excepturi? Harum, 
					| distinctio. Veniam!
					span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto dolores, alias saepe dolore molestiae ratione voluptatem deleniti odit eum labore. 
				a.boton Leer Mas
		main.contenido
			+caja('imagen.png',titulos[1],'Lorem ipsum dolor sit amet 1')
			+caja('imagen.png',titulos[2],'Lorem ipsum dolor sit amet 2')
			+caja('imagen.png',titulos[3],'Lorem ipsum dolor sit amet 3')
			
